*{
	box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.highlights{
	background-color: #FFFDBB;
}

.shadow{
	margin:5% 0%;
	-webkit-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.57);
	-moz-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.57);
	box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.57);
}

/* navigation
-----------------------------------------------------------------------*/
.top_bar{
	width: 100%;
	height: 55px;
	background-color:white;
	position: fixed;
	z-index: 100;
	border-bottom:solid 1px #e4e4e4;
}
.logo{
 	display:inline-block;
	margin-left: 5%;
}
.logo img{
	width:55px;
}

.navigation{
	float: right;
	margin-right:5%;
}
.navigation a{
	font-family: "lato", serif;
	text-decoration: none;
	display:inline-block;
	padding-bottom:10px;
	color:#484848;
	font-weight:900;
	letter-spacing:3px;
	font-size:12px;
	text-transform:uppercase;
}
@media screen and (max-width: 768px){
	.navigation a{
		letter-spacing:3px;
		font-size:11px;
	}

}
@media screen and (max-width: 480px){
	.navigation a{
		letter-spacing:3px;
		font-size:11px;
	}
}



.navigation li{
	display:inline-block;
	padding-top: 18px;
	margin-right: 40px;
}

.navigation li:last-child{
	margin-right:0;
}

.navigation li:hover{
	border-bottom: 3px solid #141414;
}

/*header
-------------------------------------------------------------------*/
header{
	height:100vh;
}

.head{
	position:absolute;
	bottom:0%;
	left:55%;
	transform:translateX(-50%);
	width:1024px;
	height:70vh;
}

.intro{
	width:50%;
	display:inline-block;
	vertical-align: middle;
	margin-right:10%;
}

.intro h1{
	font-family: Lato, sans-serif;
	font-size:48px;
	font-weight:bold;
	margin-bottom: 40px;
}

.intro h2{
	font-family: Lato, sans-serif;
	font-size:28px;
	font-weight:300;
	line-height:36px;
}

.head img{
	width:320px;
	height:auto;
	display:inline-block;
	vertical-align: middle;
}


@media screen and (max-width: 1024px){
	.head{
		bottom:0%;
		left:52%;
		transform:translateX(-50%);
		width:755px;

	}
	.head img{
		width:40%;
		display:inline-block;
	}

	.intro{
		width:40%;
	}
	.intro h1{
		font-size:28px;
		margin-bottom:50px;
	}
	.intro h2{
		font-size:24px;
	}

}

@media screen and (max-width: 768px){
	.head{
		top:20%;
		width:100%;
		text-align:center;
	}

	.intro{
		width:85%;
		margin-right:0px;

	}
	.head img{
		width:50%;
	}
	.intro h1{
		font-size:24px;
		margin-bottom:50px;
	}
	.intro h2{
		font-size:24px;
	}

	header{
		margin-bottom:100px;
	}
	
}


@media screen and (max-width: 480px){
	.head{
		bottom:0%;
		left:50%;
		transform:translateX(-50%);
		width:85%;
		text-align:center;
	}
	.head img{
		width:310px;
		float:none;
	}
	.intro{
		float:none;
		display:block;
		transform:translateY(0%);
	}
		.intro h1{
		font-size:28px;
		margin-bottom:25px;
		line-height:1.5em;
	}
		.intro p{
		font-size:14px;
		line-height:1.5em;
	}

}



/*overview
----------------------------------------------------------------*/
.cases{
	padding:0% 15%;
}

.cases article{
	margin-bottom:120px;
}

.cases a{
	text-decoration:none;
}

.cases h2{
	font-family: "roboto mono", monospace;
	font-size: 24px;
	font-weight: 500;
	display:inline-block;
	color:black;
	vertical-align: middle;
	margin-right:10px;
}
.cases img{
	width:24px;
	height:auto;
	display:inline-block;
	vertical-align: middle;
}

.cases-title{
	margin-bottom:30px;
}

.description{
	font-family:lato, sans-serif;
	font-size: 18px;
	font-weight:300;
	margin-bottom:35px;
	color:black;
}

.cases p{
	font-family: lato, sans-serif;
	font-size: 18px;
	color:black;
}

#medmatch h2{
	color:#FB1F1F;
}
#corcoran h2{
	color: #BDBDBD;
}
#huddle h2{
	color: #FE9B51;
}
#guardllama h2{
	color:#3F7DEF;
}
#localguide h2{
	color:#FFB800;
}




/*other projects
-------------------------------------------------------*/
.other_projects{
	text-align:center;
	background-color:#fafafa;
	padding:10% 7%;
}

.other_projects .titles{
	font-family:"lato", sans-serif;
	font-size:36px;
	font-weight:600;
	color:#2D2C2C;
	margin-bottom:1em;
}

.other_projects .titles_container{
	margin-top:0%;
}
.other_projects .titles_container p{
	font-family:"lato", sans-serif;
	font-size:14px;
	margin-bottom:30px;
}



/*new Projects*/



/* New Case Study Area---------------------*/


/* Float 3 columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
	margin: 0 -5px;
	margin-bottom:60px;
}

.row a{
	  text-decoration:none;
	  color:#000000;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #F7F7F7;
  border-radius:5px;
  height:400px;
  text-align:left;
}

.card:hover{
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.card img{
	width:100%;
	height:auto;
}

.cardPadding{
	width:100%;
	padding:30px 14px;
	position: relative;
}

.card h2, h3{
	display:inline-block;
	font-family: lato, sans serif;
}

.card h2{
	font-weight: bold;
	font-size: 18px;
	margin-right:15px;
}

.card h3{
	font-weight: 300;
	font-size: 18px;
}

.card p{
	margin:18px 0px;
	font-family: lato, sans serif;
	font-size:14px;
	font-weight: 300;
	line-height: 18px
}



.arrow{
	vertical-align:middle;
	font-family: "roboto mono", monospace;
	font-size:14px;
	position:absolute;
	bottom:0px;
	right:14px;
	
}

.card-text{
	margin-right: 5px;
}

.arrow img{
	height:24px;
	width: 24px;
	display:inline-block;
	vertical-align: middle;
}






/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
 	  width: 100%;
      display: block;
      margin-bottom: 20px;
  }

  .card{
  	  height:450px;
  	  margin-bottom:40px;
  }

  .lower-card {
      padding-top: 0px;
  }

  .row {
      margin-bottom: 0px;
  }
}



/* End of Case Study Area ---------------------*/


/*Responsive 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1024px){
	header{
		height: 100vh;
	}
	header figure img{
		width:80%;
	}
}


/*Tablet View
--------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	header{
		height: 85vh;
	}
	header figure img{
		width:80%;
	}

	main section {
	    padding: 50px 5%;
	}

	/*overview
	-------------------------------------*/
	.titles{
		font-size:56px;
		padding-bottom:10px;
		display: block;
		margin:0;
	}

	.titles_container{
		margin-bottom:10%;
		text-align: left;
	}	


	.left_side{
		text-align: left;
		display:block;
		margin-bottom:5%;
		width:100%;
	}

	.finalempty{
		display:none;
	}

	.left_side h1{
		font-family: 'lato', sans-serif;
		font-size:36px;
		font-weight:400;
	}
	.left_side h2 {
	    font-weight: 600;
	}

	.right_side {
		display:inline-block;
		width: 100%;
		font-family: "adobe-garamond-pro", Georgia, serif;
		font-size:18px;
		color: #505151;
		line-height: 1.5em;
		margin-left:0%;
	}

	.articles{
		margin-bottom:15%;
		position:relative;
	}

}

/*mobile View
-------------------------------------------------------------------------*/
@media screen and (max-width:480px){
	header{
		height: 90vh;
	}
	header figure img{
		width:320px;
	}

	/*nav
	-----------------------------------------*/
	.navigation{
		margin-right:10px;
	}

	.navigation li{
		margin-right:15px;
	}
	.natvigation ul li:first-child{
		background-color:yellow;
	}
	.home{
		display: none !important;
	}

/*overview
---------------------------------*/
.articles{
		margin-bottom:20%;
		position:relative;
	}
.right_side p{
		text-align:left;
	}

/*insight
-----------------------*/
.tiles{
		margin:45px auto;
		width:80%;
		display:block;
		text-align: center;
	}	
	.tiles img{
		display:block;
		width:75px;
		margin:0 auto;
	}
}


.projects{
	display:block;
	margin-top:40px;
	color:black;
	font-family: 'Roboto Mono', monospace;
	font-size:10px;
	text-align:center;
	letter-spacing:0.1em;
	height:20px;
	line-height:2.0em;
  	text-decoration: none;
  	transition: all 0.3s ease-out;
}
.projects:hover{
	font-weight:900;
}
.projects img{
	width:10px;
	vertical-align:middle;
}


/*footer~~~~~~~~*/
footer{
	background: #363636;
	height:100px;
	text-align:center;
	color:white;
	position: relative;
}
footer p{
	color:white;
	font-family: 'Roboto Mono', monospace;
	font-size:10px;
	text-align:center;
	letter-spacing:0.1em;
	height:20px;
	position:absolute;
	top: 50%;
	left: 50%;
	line-height:2.0em;
  	transform: translate(-50%, -50%);
}
footer img{
	width:40px;
	vertical-align:middle;
}
@media screen and (max-width: 768px){
	footer p{
		width:90%;
	}
}

@media screen and (max-width:480px){
	footer p{
		width:90%;
	}
}

