*{
	box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.highlights{
	background-color: #FFFDBB;
}

.shadow{
	margin:5% 0%;
	-webkit-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.57);
	-moz-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.57);
	box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.57);
}

/* navigation
-----------------------------------------------------------------------*/
.top_bar{
	width: 100%;
	height: 55px;
	background-color:white;
	position: fixed;
	z-index: 100;
	border-bottom:solid 1px #e4e4e4;
}
.logo{
 	display:inline-block;
	margin-left: 5%;
}
.logo img{
	width:55px;
}

.navigation{
	float: right;
	margin-right:5%;
}
.navigation a{
	font-family: "lato", serif;
	text-decoration: none;
	display:inline-block;
	padding-bottom:10px;
	color:#484848;
	font-weight:900;
	letter-spacing:3px;
	font-size:12px;
	text-transform:uppercase;
}

@media screen and (max-width: 768px){
	.navigation a{
		letter-spacing:3px;
		font-size:11px;
	}

}
@media screen and (max-width: 480px){
	.navigation a{
		letter-spacing:3px;
		font-size:11px;
	}
}

.navigation li{
	display:inline-block;
	padding-top: 18px;
	margin-right: 40px;
}

.navigation li:last-child{
	margin-right:0;
}

.navigation li:hover{
	border-bottom: 3px solid #141414;
}

@media screen and (min-width: 1600px) {
  main {
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
  }
}


/*header
-------------------------------------------------------------------*/
header{
	height:100vh;
	background-image: url("../img/google/hero_image.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	}


	/*
	background: url(../img/fintech/hero_image.jpg) center center no-repeat;
	background-size:cover;
	background-color:;
	background-image:
	linear-gradient(
      to bottom right, 
      #00ACDB,
      #00ACDB,
      #0074B4, 
      #0074B4);
	position: relative;
	*/


.head{
	position:absolute;
	bottom:0%;
	left:50%;
	transform:translateX(-50%);
	width:1024px;
}

.intro{
  margin-bottom:50px;
}


.intro h1{
	font-family: Nunito, sans-serif;
	font-size:48px;
	width:550px;
	font-weight:700;
	margin-bottom:8px;
	line-height:1.5em;
	letter-spacing:0.02em;
	text-align:center;
	margin-left: auto;
  margin-right: auto;
}

.intro h2{
	font-family: Lato, sans-serif;
	font-size:24px;
	text-align:center;
	margin-left: auto;
  margin-right: auto;
}


.head img{
	width:810px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media screen and (max-width: 1024px){
	.head{
		bottom:0%;
		left:50%;
		transform:translateX(-50%);
		width:755px;
	}
	.head img{
		width:550px;
	}
		.intro h1{
		font-size:24px;
		width:540px;
		margin-bottom:50px;
	}
		.intro p{
		font-size:14px;
	}

}

@media screen and (max-width: 768px){
	.head{
		top:47%;
		left:50%;
		transform:translateX(-50%);
		width:100%;
	}
	.head img{
		width:375px;
	}
		.intro h1{
		font-size:24px;
		width:85%;
		margin-bottom:50px;
	}
	
}

@media screen and (max-width: 480px){
	.head{
		bottom:0%;
		left:50%;
		transform:translateX(-50%);
		width:85%;
		text-align:center;
	}
	.head img{
		width:310px;
		float:none;
	}
	.intro{
		float:none;
		display:block;
		transform:translateY(0%);
	}
		.intro h1{
		font-size:28px;
		margin-bottom:25px;
		line-height:1.5em;
	}
		.intro p{
		font-size:14px;
		line-height:1.5em;
	}

}


/*overview
----------------------------------------------------------------*/
main section{
	padding: 48px 20%;
}

.articles{
	margin-bottom:48px;
}
.accessibility{
	margin-bottom:0%;
}

.request{
	text-align:center;
	background-color:#676767;
	padding-top:16px;
	padding-bottom:16px;
	margin-bottom:48px;
}

.request p{
	color:white;
	font-family: Open Sans;
	font-size:14px;
	font-weight:400;
}

main h1{
	color:#343B4C;
	font-family: Nunito; 
	font-weight: 700;
	font-size:40px;
	margin-bottom:16px;
}

main h2{
	font-family: Nunito, sans-serif;;
	color:#343B4C;
	font-size:24px;
	font-weight:700;
	margin-bottom:8px;
	}

.segments{
	margin-bottom:48px;
}

main p{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:300;
	color:#62687F ;
	line-height:1.5em;
}

.focus_area p{
	font-family:roboto mono;
	font-size:16px;
}

.processImg{
	width:100%;
}

.processImg img{
	width:100%;
	height:auto;
}

.note{
	padding:32px 24px;
	background-color:#EDF4FF;
}

.note h4{
	font-family:nunito;
	font-size:16px;
	margin-bottom:8px;
	font-weight:700;
}


.designSprints{
	width:100%;
}

.designSprints img{
	width:100%;
	height:auto;
}



.images img{
	margin:20px 0px;
	width:100%;
}


.other_projects .titles_container div{
	display:inline-block;
}


/*other projects
-------------------------------------------------------*/
.other_projects{
	text-align:center;
	background-color:#fafafa;
	padding:10% 7%;
}

.other_projects .titles{
	font-family:"Nunito", sans-serif;
	font-size:36px;
	font-weight:600;
	color:#2D2C2C;
	margin-bottom:64px;
}

.other_projects .titles_container{
	margin-top:0%;
}
.other_projects .titles_container p{
	font-family:"lato", sans-serif;
	font-size:14px;
}


/* New Case Study Area---------------------*/

/* Float 3 columns side by side */
.column {
  float: left;
  width: 400px;
  padding: 0 10px;
  margin-bottom:40px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
		display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.row a{
	  text-decoration:none;
	  color:#000000;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #F7F7F7;
  border-radius:5px;
  height:536px;
  transition: 0.5s;
  position:relative;
  border-radius: 4px;
  text-align:left;
}

.card:hover{
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	transition: 0.5s;
}



.card img{
	width:100%;
	height:auto;

}

.greyscale{
	transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.greyscale:hover{
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.cardPadding{
	width:100%;
	padding:32px 24px;
}

/*tags*/
.tag{
	padding:5px 10px;
	font-family:Nunito;
	font-weight:600;
	color:#7B7E7E;
	background-color:#E8EEEF;
	font-size:12px;
}

.tagRow{
	margin-bottom:24px;
}

/*End tag*/


.card h2, h3{
	font-family: Nunito, sans serif;
}

.card h2{
	font-weight: bold;
	font-size: 18px;
	margin-bottom:8px;
	line-height:1.4;

}

.card h3{
	font-weight: 300;
	font-size: 12px;
	font-family:Nunito;
	color:#C7C7C7;
	font-weight:600;
	margin-bottom:4px;
}

.card p{
	font-family: Open Sans, sans serif;
	font-size:14px;
	font-weight: 300;
	line-height: 21px;
	color: #62687F;
}


.arrow{
	vertical-align:middle;
	font-family: "roboto mono", monospace;
	font-size:14px;
	position:absolute;
	bottom:24px;
	right:32px;
}

.card-text{
	margin-right: 5px;
}

.arrow img{
	height:24px;
	width: 24px;
	display:inline-block;
	vertical-align: middle;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
 	  width: 100%;
      display: block;
      margin-bottom: 20px;
  }

  .card{
  	  height:480px;
  	  margin-bottom:40px;
  }

  .lower-card {
      padding-top: 0px;
  }

  .row {
      margin-bottom: 0px;
  }
}



/* End of Case Study Area ---------------------*/


/*Responsive 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1024px){
	header{
		height: 100vh;
	}
	header figure img{
		width:80%;
	}
}


/*Tablet View
--------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	header{
		height: 85vh;
	}
	header figure img{
		width:80%;
	}

	main section {
	    padding: 50px 5%;
	}

	/*overview
	-------------------------------------*/
	.titles{
		font-size:56px;
		padding-bottom:10px;
		display: block;
		margin:0;
	}

	.titles_container{
		margin-bottom:10%;
		text-align: left;
	}	


	.left_side{
		text-align: left;
		display:block;
		margin-bottom:5%;
		width:100%;
	}

	.finalempty{
		display:none;
	}

	.left_side h1{
		font-family: 'lato', sans-serif;
		font-size:36px;
		font-weight:400;
	}
	.left_side h2 {
	    font-weight: 600;
	}

	.right_side {
		display:inline-block;
		width: 100%;
		font-family: "adobe-garamond-pro", Georgia, serif;
		font-size:18px;
		color: #505151;
		line-height: 1.5em;
		margin-left:0%;
	}

	.articles{
		margin-bottom:15%;
		position:relative;
	}

}

/*mobile View
-------------------------------------------------------------------------*/
@media screen and (max-width:480px){
	header{
		height: 90vh;
	}
	header figure img{
		width:320px;
	}

	/*nav
	-----------------------------------------*/
	.navigation{
		margin-right:10px;
	}

	.navigation li{
		margin-right:15px;
	}
	.natvigation ul li:first-child{
		background-color:yellow;
	}
	.home{
		display: none !important;
	}

/*overview
---------------------------------*/
	.articles{
		margin-bottom:20%;
		position:relative;
	}
	.right_side p{
		text-align:left;
	}

/*insight
-----------------------*/
	.tiles{
		margin:45px auto;
		width:80%;
		display:block;
		text-align: center;
	}	
	.tiles img{
		display:block;
		width:75px;
		margin:0 auto;
	}
}



.projects{
	display:block;
	margin-top:40px;
	color:black;
	font-family: 'Roboto Mono', monospace;
	font-size:10px;
	text-align:center;
	letter-spacing:0.1em;
	height:20px;
	line-height:2.0em;
  	text-decoration: none;
  	transition: all 0.3s ease-out;
}
.projects:hover{
	font-weight:900;
}
.projects img{
	width:10px;
	vertical-align:middle;
}


/*footer~~~~~~~~*/
footer{
	background: #363636;
	height:100px;
	text-align:center;
	color:white;
	position: relative;
}
footer p{
	color:white;
	font-family: 'Roboto Mono', monospace;
	font-size:10px;
	text-align:center;
	letter-spacing:0.1em;
	height:20px;
	position:absolute;
	top: 50%;
	left: 50%;
	line-height:2.0em;
  	transform: translate(-50%, -50%);
}
footer img{
	width:40px;
	vertical-align:middle;
}
@media screen and (max-width: 768px){
	footer p{
		width:90%;
	}
}

@media screen and (max-width:480px){
	footer p{
		width:90%;
	}
}
